/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  color: #b2b0b0;
}

.header {
  height: 60px;
  border-bottom: 1px solid #b2b0b0;
  display: flex;
  align-items: center;
  background-color: white;
}
.image {
  height: 50px;
}
.image2 {
  height: 200px;
  width: 400px;
}
.image3 {
  height: 100px;
  width: 100px;
}
.valider {
  border-radius: 2px;
  height: 50px;
  color: #8e9d9d;
  background-color: #bac3c3;
  width: 350px;
  padding-left: 10px;
  font-size: 16px;
}
li {
  list-style-type: none;
}

.wrapper {
  width: 1224px;
  margin: auto;
}

.page-content {
  display: flex;
  flex-direction: row;
}
.menu {
  width: 110%;
}
.basket {
  padding: 10px;
  width: 40%;
  min-height: 200px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.panier {
  font-weight: 100;
  color: #8d9090;
  padding-top: 50px;
}
.meal-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
}
.meal {
  width: calc(50% - 20px);
  background-color: white;
  box-sizing: border-box;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
h2 {
  padding-bottom: 10px;
}
.description {
  font-size: 14px;
  color: #828585;
}
.price {
  font-size: 16px;
  color: #828585;
}
.row {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}
.allprice {
  margin-top: 100px;
}
.colone {
  display: flex;
  padding: 17px;
  align-items: center;
}
.fas {
  color: #33d6c9;
}
.menuLine {
  margin-top: 15px;
}

.full {
  background-color: #f3f5f5;
}
.title {
  font-weight: 400;
  font-size: 16px;
}
